.comment-modal{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    z-index: 999;
}
.comment-modal.active{
    display: flex;
}
.comment-modal__body-content{
    padding: 16px;
    background: #F0F0F0;
    border-radius: 3px;
}
.comment-modal__body{
    width: 760px;
}
.comment-modal__rules{
    display: block;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    text-decoration: none;
    color: #005FAE;
}
.comment-modal__body_user{
    display: flex;
    align-items: center;
}
.comment-modal__body_user_avatar {
    margin-right: 8px;
    width: 30px;
    height: 40px;
}
.comment-modal__body_user_avatar-img{
    width: 100%;
}
.comment-modal__body_user_name{
    margin: 0;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
}
.comment-modal__body_user_star-desc{
    margin-left: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}
.comment-modal__body_user_stars{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.comment-modal__body_user_stars-label{
    margin-right: 5px;
    cursor: pointer;
}
.comment-modal__body_user_stars-label{
    margin-right: 5px;
    cursor: pointer;
}
.comment-modal__body_user_stars-content{
    display: flex;
    align-items: center;
}
.comment-modal__body_textarea-block{
    width: 100%;
    margin-top: 16px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}
.comment-modal__body_textarea{
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}
.comment-modal__body_textarea-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #E0E0E0;
}
.comment-modal__body_textarea_input-hidden{
    display: none;
}
.comment-modal__body_textarea_send{
    background: #005FAE;
    border: none;
    outline: 0;
    padding: 10px 35px;
    height: 40px;
    margin-left: 16px;
    font-style: normal;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}
.comment-modal__body_user_name-mobile{
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #212121;

}
.comment-modal__body_user_stars-label-img{
    width: 15px;
}
.comment-modal__body_chose-image_text-mobile{
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #BDBDBD;
}