
/*BREADCRUMBS*/
.breadcrumbs__block{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs__block-link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.breadcrumbs__block-no-link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}


.breadcrumbs__block-link::after{
    content: '/';
    padding: 0 5px;
    color: #666666;
}


/*SEARCH*/
.search{
    margin-top: 16px;
}
.search__content{
    display: flex;
    align-items: center;
    height: 40px;
    width: 940px;
}
.search__input{
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 12px;
    border: 2px solid #005FAE;
    border-right: none;
    border-radius: 3px 0 0 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}
.search__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Roboto', sans-serif !important;
    color: #999999;
    opacity: 1; /* Firefox */
}
.search__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Roboto', sans-serif !important;
    color: #999999;
}

.search__input::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Roboto', sans-serif !important;
    color: #999999;
}

.search__input:focus {
    border-color: rgba(0,95,174,.8);
    outline: 0;
}

.search__btn{
    height: 100%;
    padding: 5px 21px;
    border-radius: 0 3px 3px 0;
    border: none;
    cursor: pointer;
    background: #005FAE;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease ;
    -ms-transition: all .3s ease ;
    -o-transition: all .3s ease ;
    transition: all .3s ease ;
}
.search__btn:hover{
    opacity: .8;
}
.search__btn:focus{
    opacity: .5;
    outline: 0;

}
.search__btn > img{
    vertical-align: middle;
}