.header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.header__inner-block{
    height: 40px;
}
.header__inner-block_top{
    background: #005FAE;
}
.header__inner-block_bottom{
    background: #F7F7F7;
}

