html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*BODY INNER*/
.body__inner {
    display: flex;
    flex-wrap: wrap;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 32px
}

.body__inner_left {
    flex: 0 0 100%;
}

.body__inner_right {
    width: 160px;
}

.link__hover_underline:hover {
    text-decoration: underline;
}

.ml-1 {
    margin-left: 2px;
}