@media all and (min-width: 768px) {
    .company-posts {
        flex: 0 0 calc(100% - 360px);
    }

    .company-description {
        flex: 0 0 25%;
    }

    .company-description {
        flex: 0 0 360px;
    }

    .comment-modal__body_user_name-mobile {
        display: none;
    }

    .comment-modal__body_chose-image_text-mobile {
        display: none;
    }

    .gallery-modal__content{
        max-width: 80%;
    }
}
@media all and (min-width: 996px) {
    .body__inner_left {
        flex: 0 0 calc(100% - 160px);
        padding-right: 20px;
    }

}

@media all and (max-width: 1024px) {
    .company-description__logo {
        width: 120px;
    }
    .search__content{
        width: 100%;
    }

}


@media all and (max-width: 991px) {
   .company{
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
   }
    .company__btn_color_green{
        margin-top: 16px;
    }

}

@media all and (max-width: 768px) {
    .comment-modal__rules, .comment-modal__body_user_avatar, .comment-modal__body_user_avatar-img, .comment-modal__body_user_name {
        display: none;
    }

    .comment-modal__body {
        width: 100%;
        padding: 16px;
    }

    .comment-modal__body-content {
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        padding: 20px 24px;
    }

    .comment-modal__body_user_stars {
        order: 2;
    }

    .comment-modal__body_user_stars-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .comment-modal__body_user_stars-label-img {
        width: 30px;
    }

    .comment-modal__body_user_star-desc {
        margin-left: 0;
        margin-bottom: 14px;
    }

    .comment-modal__body_textarea {
        border: 1px solid #E0E0E0;
    }

    .comment-modal__body_textarea-block, .comment-modal__body_textarea-btns {
        border: 0;
    }

    .comment-modal__body_textarea-btns {
        flex-direction: column;
    }

    .comment-modal__body_chose-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 16px;
        width: 100%;
        padding: 14px;
        border: 1px dashed #BDBDBD;
        border-radius: 3px;
        text-decoration: none;
    }

    .comment-modal__body_textarea_send {
        width: 100%;
        margin: 0;
    }
    .gallery__block_img-block,.gallery__block_img{
        width: 100%;
        height: auto;

    }

}

