.adds__content{
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
}
.adds__content_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #FAFAFA;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #999999;
    text-decoration: none;
}
