.company{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 32px;
}
.company__back-link_content{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #005FAE;
}

.company__back-link_icon{
    margin-right: 8px;
}
.company__name-block{
    display: flex;
    align-items:center;
}
.company__name-block_icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.company__name{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #212121;
}
.company__name-block{
    margin: 16px 0;
}

.company__actions{
    display: flex;
    align-items: center;
}
.company__actions_seen-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}
.company__actions_img{
    margin-right: 5px;
}
.company__block_action-margin{
    margin-right: 25px;
}

.company__btn_color_green{
    height: 40px;
    padding: 10px 24px;
    border: 1px solid #00C346;
    box-sizing: border-box;
    border-radius: 3px;
    background: #fff;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #00C346;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease ;
    -ms-transition: all .3s ease ;
    -o-transition: all .3s ease ;
    transition: all .3s ease ;
}
.company__btn_color_green:hover{
    background: #00C346;
    color: #FFFFFF;
}
.company__btn_color_green:focus{
    outline: 0;
}
.company__name-block_hover-block{
    position: relative;
}
.company__name-block_hover-display{
    display: none;
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 100%;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.company__name-block_hover_unit{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.company__name-block_hover_img{
    margin-right: 10px;
}
.company__name-block_hover_name{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #212121;

}
.company__name-block_hover_description{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
}
.company__name-block_hover-block:hover .company__name-block_hover-display{
    display: block;
}