.gallery{
    margin-top: 48px;
}
.gallery__block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}
.gallery__block_img-block{
    margin: 0 8px 8px 0;
    height: 120px;
}
.gallery__block_img{
    height: 100%;
    width: auto;
}
.gallery-modal{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    z-index: 999;
}
.gallery-modal.active{
    display: flex;
}