.company-unit {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.company-posts {
    padding-right: 20px;
}

.company-posts__header {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #E0E0E0;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #212121;
}

.company-posts__table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
}

.company-posts__table_header {
    background: #F0F0F0;
    border-radius: 3px;
}

.company-posts__table_section {
    padding: 8px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #424242;
    border-bottom: 1px solid #E0E0E0;
}

.company-posts__table_person_avatar {
    width: 30px;
    height: 40px;
    margin-right: 8px;
}

.company-posts__table_header .company-posts__table_section {
    border: none;
}

.company-posts__table_btn {
    display: block;
    float: left;
    height: 24px;
    width: 60px;
    border: none;
    outline: none;
    padding: 4px 0;
    margin-right: 16px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.company-posts__table_btn:hover {
    opacity: .8;
}

.company-posts__table_btn_bl {
    background: #6199C6;
}

.company-posts__table_btn_rd {
    background: #EE6C4D;
}

.company-posts__table_post-link {
    color: #005FAE;
    text-decoration: none;
    vertical-align: middle;
}

.company-posts__table_section_text-right {
    text-align: right;
}

.company-posts__table_section_text-left {
    text-align: left;
}

.company-posts__table_person {
    display: flex;
    align-items: center;
}

.company-posts__table_person_desc-name {
    display: block;
    color: #005FAE;
    text-decoration: none;
}

.company-posts__table_person_desc-company {
    color: #999999;
}

.company-description__logo {
    min-width: 180px;
}

.company-description__content {
    padding: 16px;
    margin-top: 16px;
    background: #F0F0F0;
    border-radius: 3px;
}

.company-description__text-block {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
}

.company-description__text-block:last-child {
    margin-bottom: 0px;
}

.company-description__text-block_bold {
    color: #000;
}

.company-description__text {
    margin: 0;
}

.company-description__list {
    margin: 0;
    padding: 0;
    list-style: none;
}